.section {
  min-width: 580px;
}

.contentIngredients {
  min-width: 580px;
  height: 55vh;
  overflow: auto;
  border: 2px solid;
}

.checkoutBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price svg {
  height: 33px;
  width: 33px;
}
