.root {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.link {
  text-decoration: none;
}

.wrapperLinks {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
}

.wrapperInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuElement:hover {
  cursor: pointer;
}
