.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorText {
  display: flex;
  justify-content: center;
}

.wrapperIngredientImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientImage {
  width: 400px;
}

.ingredientName {
  min-height: 30px;
  text-align: center;
}

.blockDetails {
  display: flex;
  justify-content: center;
  gap: 30px;
}
